.git/
.venv/
node_modules/
test/
etc/homeassistant/config/.storage
examples/typical/home-assistant/config/.storage
examples/typical-intent/home-assistant/config/.storage
examples/client-server/home-assistant/config/.storage
examples/mqtt-hermes/home-assistant/config/.storage

base_dictionary.txt
base_language_model.txt
acoustic_model/

profiles/en-kaldi/
profiles/en-zamia/
profiles/vi/

profiles/*/download/