# Caches and virtual environment
__pycache__/
.mypy_cache/
.venv/
.ipynb_checkpoints/
download/

# QEMU
etc/qemu-arm-static
etc/qemu-aarch64-static

# npm
node_modules/

# Web interface
dist/

# Profiles
.downloaded
acoustic_model/
base_dictionary.txt
base_language_model.txt
g2p.fst
profiles/*/model/data
profiles/*/model/model
profiles/*/model/graph
profiles/*/*.umdl

adapt_config.json
tagged_sentences.md
unknown_words.txt
frequent_words.html
intent_examples.json
sentences.txt

en-kaldi/
en-zamia/

grammars/
sentences/
record/

# Third party
etc/*.tar.gz
etc/*.tar.xz
etc/*.deb

# Examples
.storage/
deps/
tts/
*.log
.HA_VERSION

# Misc
workbench.xmi