__pycache__/
.mypy_cache/
.venv/
node_modules/
sentences.cnts
sentences.far
sentences.syms
sentences.mod
sentences.arpa
grammars/
etc/homeassistant/config/.storage/
etc/homeassistant/config/deps/
etc/homeassistant/config/tts/
etc/homeassistant/config/*.log
etc/homeassistant/config/.HA_VERSION
rhasspy-hassio-addon*.tar.gz
etc/qemu-arm-static
profiles/en/record/
profiles/de
profiles/es
profiles/nl
profiles/it
profiles/fr
profiles/ru
workbench.xmi
etc/*.deb