Flask
flask-swagger-ui
flask_cors
Flask-Sockets
pydash
requests
paho-mqtt
PyAudio
webrtcvad
fuzzywuzzy[speedup]
adapt-parser
precise-runner
cerberus
flair>=0.4.1
download/pyjsgf-1.6.0.tar.gz
download/jsgf2fst-0.1.0.tar.gz
google-cloud-texttospeech
