Flask
flask-swagger-ui
flask_cors
pydash
requests
paho-mqtt
PyAudio
webrtcvad
fuzzywuzzy[speedup]
adapt-parser
precise-runner
cerberus
https://github.com/Danesprite/pyjsgf/archive/v1.5.1.tar.gz
google-cloud-texttospeech
